.loginpage
{
    text-align: center;
    color: white;
    background: rgb(116, 16, 16);
    padding: 1;
    text-align: center; 
    height: 50px;
}
.text
{
    border-color: black;
    text-align: center;
    height: 30px;
    width: 200px;
    background-image: linear-gradient(to left,  #a4a29f, white);
}
.loginbtn
{
    height: 30px;
    width: 90px;
    font-size: medium;
    color: white;
    background-image: linear-gradient(to left,#022f55,#35abe6);
    text-decoration: double;
}


